/*Estiliza a página de URL não encontrada*/
.title-mistake{
	font-weight: bold;
	font-size: 40px;
	color: red;
	font-family: 'Akaya Kanadaka', cursive;
}

.title-mistake p{
	text-align: center;
}

.image-mistake{
	text-align: center;
}

.image-mistake img{
	height: 28rem;
}