/*Fontes importadas do Google fontes*/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/*Aplicados a todas as páginas da aplicação*/
body{
	background-color: #F8F8FF;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

p{
	justify-content: space-between;
	font-family: 'Bree Serif', serif;
	font-size: 20px;
}

button:hover{
	cursor: pointer;
}