/*Escurece o brilho ao passar o cursor*/
.homeContainer:hover{
	filter: brightness(0.9);
}

/*Só aplica ao primeiro parágrafo*/
.homeContainer > p:first-child {
	color: red;
}

@media screen and (min-width: 900px) {
	/*Todo o conteúdo da tela inicial*/
	.homeContainer{
		background-color: #87CEEB;
		border-color: black;
		border-width: 3px;
		border-style: solid;
		border-radius: 10px;

		text-align: center;
		justify-content: center;
		align-items: center;

		height: 15rem;
		width: 44rem;

		margin-top: 5rem;
		margin-left: 25%;

		/*Define o tempo de transição*/
		transition: filter 0.2s;
	}

	.startButton{
		height: 4rem;
		width: 10rem;
		margin-top: 1.5rem;
		border-radius: 5px;
		background: #90EE90;
		color: #4169E1;

		font-size: 1.25rem;
		font-weight: 680;
	}

}

/*Para dispositivos móveis e posição retrato*/
@media screen and (max-width: 899px) and (orientation: portrait) {
	/*Todo o conteúdo da tela inicial*/
	.homeContainer{
		background-color: #87CEEB;
		border-color: black;
		border-width: 2px;
		border-style: solid;
		border-radius: 10px;

		text-align: center;
		justify-content: center;
		align-items: center;

		width: 99%;

		margin-top: 5rem;

		/*Define o tempo de transição*/
		transition: filter 0.2s;
	}

	.startButton{
		height: 3rem;
		width: 10rem;
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		border-radius: 5px;
		background: #90EE90;
		color: #4169E1;

		font-size: 1.25rem;
		font-weight: 680;
	}

}

/*Para dispositivos móveis e posição paisagem*/
@media screen and (max-width: 899px) and (orientation: landscape) {
	/*Todo o conteúdo da tela inicial*/
	.homeContainer{
		background-color: #87CEEB;
		border-color: black;
		border-width: 2px;
		border-style: solid;
		border-radius: 10px;

		text-align: center;
		justify-content: center;
		align-items: center;

		width: 99%;

		margin-top: 3rem;

		/*Define o tempo de transição*/
		transition: filter 0.2s;
	}

	.startButton{
		height: 3rem;
		width: 10rem;
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		border-radius: 5px;
		background: #90EE90;
		color: #4169E1;

		font-size: 1.25rem;
		font-weight: 680;
	}

}